<h1>Editing round</h1>

<% form_for(@round) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @round %> |
<%= link_to 'Back', rounds_path %>